In [9]:
import pandas as pd
import os

import tqdm 

filepath = "E:\\FruitPunch_files\\images.csv"

In [10]:
images = pd.read_csv(filepath)
print(images.shape)
print(images.columns)
images.head()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5304\1419358776.py:1: DtypeWarning: Columns (17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  images = pd.read_csv(filepath)

(378564, 27)
Index(['project_id', 'deployment_id', 'image_id', 'filename', 'location',
       'is_blank', 'identified_by', 'wi_taxon_id', 'class', 'order', 'family',
       'genus', 'species', 'common_name', 'uncertainty', 'timestamp',
       'number_of_objects', 'age', 'sex', 'animal_recognizable',
       'individual_id', 'individual_animal_notes', 'behavior', 'highlighted',
       'markings', 'cv_confidence', 'license'],
      dtype='object')

,project_id,deployment_id,image_id,filename,location,is_blank,identified_by,wi_taxon_id,class,order,...,age,sex,animal_recognizable,individual_id,individual_animal_notes,behavior,highlighted,markings,cv_confidence,license
0,2003918,SK11,32d71a06-aa95-45ef-b27b-903617e82016,IMG_2198.JPG,gs://437283855702_2003918_344_rhodope_mountain...,0,Stefan Avramov,75e7ac24-a298-4a2f-bc12-9a153b08b7e6,Mammalia,Cetartiodactyla,...,adult,female,NaN,NaN,NaN,NaN,False,NaN,NaN,CC-BY-NC
1,2003918,SK11,c9cd9bc3-f932-45e7-8697-d1596c45ad4f,IMG_2199.JPG,gs://437283855702_2003918_344_rhodope_mountain...,0,Stefan Avramov,75e7ac24-a298-4a2f-bc12-9a153b08b7e6,Mammalia,Cetartiodactyla,...,adult,female,NaN,NaN,NaN,NaN,False,NaN,NaN,CC-BY-NC
2,2003918,SK11,4568a440-2ec7-4887-849d-6220e59429b9,IMG_2200.JPG,gs://437283855702_2003918_344_rhodope_mountain...,0,Stefan Avramov,75e7ac24-a298-4a2f-bc12-9a153b08b7e6,Mammalia,Cetartiodactyla,...,adult,female,NaN,NaN,NaN,NaN,False,NaN,NaN,CC-BY-NC
3,2003918,SK11,d9053364-bf2c-42e5-a13f-511191415b84,IMG_2201.JPG,gs://437283855702_2003918_344_rhodope_mountain...,0,Stefan Avramov,75e7ac24-a298-4a2f-bc12-9a153b08b7e6,Mammalia,Cetartiodactyla,...,adult,female,NaN,NaN,NaN,NaN,False,NaN,NaN,CC-BY-NC
4,2003918,SK11,89435349-84e7-4fdc-b0e5-80217d0079c1,IMG_2202.JPG,gs://437283855702_2003918_344_rhodope_mountain...,0,Stefan Avramov,75e7ac24-a298-4a2f-bc12-9a153b08b7e6,Mammalia,Cetartiodactyla,...,adult,female,NaN,NaN,NaN,NaN,False,NaN,NaN,CC-BY-NC

In [4]:
# images["location"][0]

'gs://437283855702_2003918_344_rhodope_mountains__main/deployment/2114925/fc9df538-af1a-403d-9d8a-eb8930dc983b.JPG'

In [11]:
images["new_location"] = images["location"].apply(lambda x: x.replace("gs://437283855702_2003918_344_rhodope_mountains__main/deployment/", "").replace("/", "\\"))

In [12]:
images["new_location"][0]

'2114925\\fc9df538-af1a-403d-9d8a-eb8930dc983b.JPG'

In [13]:
images["filepath"] = images["new_location"].apply(lambda x: x.split("\\")[0])
images["filepath"][:10]

0    2114925
1    2114925
2    2114925
3    2114925
4    2114925
5    2114925
6    2114925
7    2114925
8    2115325
9    2115325
Name: filepath, dtype: object

In [15]:
images["filepath"].unique()

array(['2114925', '2115325', '2115004', '2114794', '2114926', '2115328',
       '2115829', '2115860', '2135187', '2135188', '2134951', '2134971',
       '2134972', '2134973', '2134974', '2134975', '2134976', '2134989',
       '2134991', '2134992', '2134996', '2134997', '2135182', '2135185',
       '2114923', '2114796', '2115007', '2115327', '2114924', '2115858',
       '2115683', '2116554', '2115859', '2116553', '2115800', '2116555',
       '2116556', '2116557', '2115917', '2115828', '2115915', '2116926',
       '2115914', '2115827', '2115887', '2115359', '2115360', '2115799',
       '2115826', '2134861', '2134943', '2134878', '2134941', '2134944',
       '2134977', '2134990', '2135186', '2134987', '2135184', '2134945',
       '2134988', '2134953', '2134954', '2134946', '2134947', '2134955',
       '2134949', '2134950', '2135183'], dtype=object)

In [13]:
img_2114794 = images[images["filepath"] == "2114794"]
img_2114794.shape

(4378, 29)

In [15]:
img_2114794.columns

Index(['project_id', 'deployment_id', 'image_id', 'filename', 'location',
       'is_blank', 'identified_by', 'wi_taxon_id', 'class', 'order', 'family',
       'genus', 'species', 'common_name', 'uncertainty', 'timestamp',
       'number_of_objects', 'age', 'sex', 'animal_recognizable',
       'individual_id', 'individual_animal_notes', 'behavior', 'highlighted',
       'markings', 'cv_confidence', 'license', 'new_location', 'filepath'],
      dtype='object')

In [16]:
img_2114794.common_name.value_counts()

Common Fallow Deer     3741
Blank                   409
No CV Result             80
Mammal                   40
Red Fox                  19
Red Deer                 17
Small Mammal             15
Rodent                    9
Weasel Family             9
European Hare             7
Golden Jackal             6
Beech Marten              6
Cervidae Family           5
Martes Species            5
Corvidae Family           4
Passeriformes Order       2
Carnivorous Mammal        2
Bird                      1
Wild Boar                 1
Name: common_name, dtype: int64

In [1]:
import json

In [2]:
with open("2114794.json") as fp:
    preds = json.load(fp)

preds.keys()

dict_keys(['images', 'detection_categories', 'info'])

In [7]:
preds["images"][0]

{'file': '001be1fd-f033-4f81-b6ad-8fdeff2f4aba.JPG',
 'detections': [{'category': '1',
   'conf': 0.0095,
   'bbox': [0.491, 0.3902, 0.03311, 0.03306]},
  {'category': '1', 'conf': 0.927, 'bbox': [0.7049, 0.4001, 0.05952, 0.1448]}]}

In [8]:
images["filepath"].unique

NameError: name 'images' is not defined